
.dark-mode {
    background-color: #151e21;
    color: #fff;
    transition: background-color 1s ease;
  }
.dark-mode .caja, .dark-mode nav{
    background-color: #444; /* color de fondo en modo oscuro */
    transition: background-color 1s ease;
    border: 1px solid grey
}
.pr{
    margin-top: 10px;
    color: black;
}

header{
    margin-top: 3%;
    text-align: center;
}
.caja{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #eccca5;
    box-shadow: 2px 2px 2px black;
    transition: background-color 1s ease;
}
.formulario{
    width: 40%;
    margin: 0 auto;
    margin-top: 4%;
}
.mb-3{
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;

}
.labelLogin{
    float: left;
}
.enviar{ 
   width: 20%;
   text-align: center;
   margin: auto;
   margin-bottom: 5px;
}
.recuerdameLink{
    margin-left: 10px;
}
.dark-mode #emailHelp{
color: #fff;
}
.raw{
    margin: 0 auto;
   
    
}
button{
    border: 2px solid lightgrey;
    transition: transform 0.3s , background-color 0.3s, color 0.3s ;
    border-radius: 5px;
   
}
button:hover{
    transform: translateY(-10px);
    background-color: lightblue;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    margin: 0 auto;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

  
  
  input:checked + .slider {
    background-color: #151e21;
    border-radius: 20px;
    border: 1px solid grey;
}
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}
@media screen and  (max-width:750px){
    
    
    .formulario{
        width: fit-content;
    }
}