.perfilPagina{
    margin-top: 20px;
}
.dark-mode {
    background-color: #151e21;
    color: #fff;
    transition: background-color 1s ease;
  }
.dark-mode .panel, .dark-mode nav{
    background-color: #444; /* color de fondo en modo oscuro */
    transition: background-color 1s ease;
    border: 1px solid grey
} 
.dark-mode .modal-body,.dark-mode .modal-header, .dark-mode .modal-footer {
  background-color: #444;  /* color de fondo en modo oscuro */
}
nav{
    background-color: #eccca5;
    border-bottom: 1px solid #ddd;
    transition: background-color 1s ease;
}
.imagenPerfil{
   margin: 0 auto;
   border: 1px solid white;
   margin-bottom: 10px;
}
.de{
    margin-right: 150px;
}
img{
    border:1px solid #ddd;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}
.recomendacion{
  border-bottom: 1px solid black;
  font-weight: bold;
}
.recomendacion-body{
  margin-bottom: 20px;
}
.trs{
  background-color:transparent;
  border: none;
  margin-top: 7px;
  color: rgb(0 0 0 / 65%); 
    } 
.panel {
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 15px;
    transition: background-color 1s ease;
}
.panel-title{
    color:rgb(197, 130, 141)
}
ul li {
    list-style: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    margin: 0 auto;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}


  
  input:checked + .slider {
    background-color: #151e21;
    border-radius: 20px;
    border: 1px solid grey;
}
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

  }
  @media (max-width:992px) {
    .de{
        margin-right: 0;
    }
  }
    .panel-body {
      position: relative;
      padding: 0;
      margin: 0;
    }
    
    .edit-textarea {
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    
    .accept-button,
    .reject-button {
      display: none;
    }
    
    .panel-body.active .edit-textarea,
    .panel-body.active .accept-button,
    .panel-body.active .reject-button {
      display: block;
    }
  
    .panel-body2 {
      position: relative;
      padding: 0;
      margin: 0;
    }
    
    .edit-textarea2 {
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    
    .accept-button2,
    .reject-button2 {
      display: none;
    }
    
    