body { 
    background-color: #d4b895;
    font-family: 'Courier New', Courier, monospace;
    
}
body.dark-mode {
    background-color: #151e21;
    color: #fff;
    transition: background-color 1s ease;
  }
footer{
    color: #fff;
    text-align: center;
   margin-top:15%;
}
.dark-mode {
    background-color: #151e21;
    color: #fff;
    transition: background-color 1s ease;
  }
