
.body-amigos{
    text-align: center;
    background-color: #d4b895 ;
    font-family:'Courier New', Courier, monospace;
    
}
.amigos-caja-general{
    text-align: center;
    margin-top: 20px;
}

.feed-account-amigos{
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Deftone Stylus', sans-serif;
}
.feedButton{
  color : black !important;
  background-color: #e7e7e7 !important;
}
.amigos-caja-central{
    text-align: center;
}
.cerrar{
    margin-top: 4px;
}
.dark-mode{
    background-color: #151e21;
    color: lightgray;
    transition: background-color 1s ease;
}
.dark-mode label[for="floatingInputGroup1"] {
    color: black;
  }
.dark-mode .btn {
    background-color: #A0A7AC;
    transition: all 0.3s ease;
}
.dark-mode .caja-amigos,.dark-mode .menu-animado {
    background-color: #444; /* color de fondo en modo oscuro */
    transition: background-color 1s ease;
    border: 1px solid grey;
}
 .dark-mode .btn-primary.aceptado:disabled{
    background-color: rgb(5, 49, 5);
    transition: background-color 1s ease;
 }
.dark-mode .account-menu{
    background-color: #444; /* color de fondo en modo oscuro */
    transition:all 1s ;
    border: 1px solid grey;
}
.dark-mode .borrar{
    background-color: rgba(151, 15, 15, 0.714);
    transition: transform 0.3s , background-color 0.3s, color 0.3s ;
}
.izquierda-amigos{
    width: 20%;
}
.amigo{
    margin-bottom: 20px;
}

.fotosPerfil{
    margin : 0 auto;
    border-radius: 90px;
    width: 100px;
    height:100px;
    margin-top: 5px;
    border: 1px solid black;
  }
.nombre-amigos{
    margin-bottom: 10px;
    font-size: 20px;
  }

.pendienteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ver-perfil{
  
  width: 40%;
  margin-left: 10px
}
.cuenta{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.botones-amigos{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.boton-friends{
 
    margin-bottom: 20px;
    background-color: #e7e7e7;
    border: 1px solid black;
    color: black;
    transition: transform 0.3s , background-color 0.3s, color 0.3s ;
    border-radius: 5px;

}
.fotos-amigos{
  border: 2px solid whitesmoke;
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
 a .boton-friends1{
    width: 100%;
 }
.boton-friends:hover{
    transform: translateY(-10px);
    border: 1px solid black;
    background-color: lightblue;
    color: white;
}


a:hover{
    color: white;
}
.central-amigos{
    display: flex;
    justify-content: space-between;
}



.account-button{
    display: none;
   
}

.custom-icon {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
  }
  

.feed, .buscador-amigos{
    margin-bottom: 10px;

}

.feed{
    height:fit-content;
}

.buscador-amigos {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
    
  }
  
  .buscador-amigos .titulo h1 {
    margin-right: 0;
  }
  .input-group{
    margin-top:15px
  }
  .buscador-amigos .input-group {
    width: 40%;
  }

.derecha-amigos{
    margin-right: 10px;
}
.trs-amigos{
    background-color:transparent;
    border: none;
    margin-top: 7px;
    color: rgb(0 0 0 / 65%);
}
.caja-amigos{
    border: 1px solid white;
    background-color: #eccca5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    transition: background-color 1s ease;
}

li{
    list-style: none;
}
.perfil, .aceptado{
    margin-top: 10px;
}
 .btn-primary.aceptado:disabled {
    border: 1px solid black;
    background-color: green;
    opacity: 0.5;
    transition: background-color 1s ease;
  }
.aceptado{
    color: white;
    background-color: green;


    
}

.account-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 4px;
    top:120px;
    left: -200px;
    width: 200px;
    height: fit-content;
    border: 1px solid white;
    padding: 10px;
    background-color: #eccca5;
    z-index: 9999;
    transition: left 1s;
  }
 .nav-link:hover{
    color: white;
 } 
 .dark-mode .modal-body,.dark-mode .modal-header, .dark-mode .modal-footer {
    background-color: #444;  /* color de fondo en modo oscuro */
  }
  .account-menu.visible {
    left: 0;
    transition: left 1s;
  }
ion-icon{
    width: 100px;
    height: 100px;
   
}
.a{
    width: 100%;
}
.aceptar, .borrar{
    margin-top: 10px;
}

.agregar-amigo{
    width: 40%;
    color: white;
    border: 1px solid black;
    background-color: rgb(104, 189, 104);
    opacity: 0.8;
}
.borrar-amigo{
    width: 40%;
    color: white;
    background-color: rgb(204, 41, 41);
    margin-left: 10px;
    transition: transform 0.3s , background-color 0.3s, color 0.3s ;
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    margin: 0 auto;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.fotos{
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
  
  input:checked + .slider {
    background-color: #151e21;
    border-radius: 20px;
    border: 1px solid grey;
}
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

  }

  .botonperfil {
    margin-left: 10px;
    margin-top: 9px;
 }
 .solicitud-pendiente{
  
  width: 40%;
 }
 
 .menu-animado {
    position: absolute;
    z-index: 9999;
    height: fit-content;
    top: 100%;
    left: 0;
    border: 1px solid white;
    background-color: #eccca5;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.3s ease-in-out forwards;
  }
  
  @keyframes aparecer {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes desaparecer {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
   
  
  @media (max-width: 992px) {
    .izquierda-amigos {
      width:100%;
      margin-bottom: 30px;
     
    }
    .account{
        display: none;
    }

    .agregar-amigo , .borrar-amigo, .ver-perfil, .solicitud-pendiente, .ha-enviado-solicitud{
      width: 50%;
    }
    .ver-perfil{
      margin-left: 1px;
    }
   
    .aceptar{
        width: 40%;
    }
    .aceptado{
        width: 20%;
    }

    .account-button {
        display: block;
      }
  }

  @media (max-width: 650px) {

    .botonperfil {
       font-size: 80%;
       width: fit-content;
      
    }

    .botonamigo {
        font-size: 90%;
        width: fit-content;
 
    }


  }